@import './__container/popup__container.css';
@import './__field/popup__field.css';
@import './__save-button/popup__save-button.css';
@import './__title/popup__title.css';
@import './__icon/popup__icon.css';
@import './__header/popup__header.css';

.popup{
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
}