.popup__icon{
    position: absolute;
}

.popup__icon:hover{
    opacity: .6;
    cursor: pointer;
}

@media (min-width: 521px){
    .popup__icon{
        top: calc(50% - 199px);
        right: calc(50% - 296px);
    }
}

@media (max-width: 520px){
    .popup__icon{
        top: calc(50% - 190px);
        right: calc(50% - 154px);
        height: 30px;
    }
}