.popup__icon-close-form{
    position: absolute;
    max-height: 40px;
}

.popup__icon-close-form:hover{
    opacity: .6;
    cursor: pointer;
}

@media (min-width: 573px){
    .popup__icon-close-form{
        top: calc(50% - 198px);
        right: calc(50% - 281px);
    }
}

@media (max-width: 572px){
    .popup__icon-close-form{
        top: calc(50% - 161px);
        right: calc(50% - 162px);
        height: 30px;
    }
}