.popup__icon-close-form{
    position: relative;
}

.popup__icon-close-form:hover{
    opacity: .6;
    cursor: pointer;
}

@media (min-width: 573px){
    .popup__icon-close-form{
        max-height: 40px;
        left: 260px;
        bottom: 65px;
    }
}

@media (max-width: 572px){
    .popup__icon-close-form{
        max-height: 30px;
        left: 148px;
        bottom: 52px;
    }
}