.profile-info__information-person{
    font-style: normal;
    font-weight: normal;
    color: #FFFFFF;
}

@media (min-width: 426px){
    .profile-info__information-person{
        margin: 16px 0 36px;
        font-size: 18px;
        line-height: 22px;
    }
}

@media (max-width: 425px){
    .profile-info__information-person{
        font-size: 14px;
        line-height: 17px;
        text-align: center;
    }
}