.popup__icon-close-view-photo{
    align-self: flex-end;
    position: relative;
    left: 33px;
    top: 7px;
    max-height: 40px;
}
.popup__icon-close-view-photo:hover{
    opacity: .6;
    cursor: pointer;
}