.element__button-like{
    cursor: pointer;
    margin: auto;

    background-image: url('../../../images/element/dislike.svg');
    height: 19px;
    width: 22px;
    border: none;
    background-repeat: no-repeat;
    background-color: white;
}